# Project exclude paths
/common/common-util/target/
/common/rabbit_util/target/
/common/service-util/target/
/model/target/
/service/service-acl/target/
/service/service-product/target/
/service/service-search/target/
/service/service-sys/target/
/service-client/service-activity-client/target/
/service-client/service-product-client/target/
/service/service-payment/src/main/resources/application-dev.yml
/service/service-product/src/main/resources/application-dev.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/